    <div class="container-fluid settings">


        <!--  кнопка открытия-закрытия меню-->
        <div class="col-8 text-left align-self-top">

            <button mat-icon-button type="button" (click)="onToggleMenu()">

                <mat-icon>menu</mat-icon>

            </button>


            <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="showStat && !isMobile">Скрыть статистику</p>
            <p class="link navbar-brand" (click)="onToggleStat()" *ngIf="!showStat && !isMobile">Показать
                статистику </p>
            <p class="navbar-brand"><span *ngIf="!isMobile">Категория:</span> "{{categoryName}}"</p>

        </div>


        <!--  помощь, настройки-->
        <div class="col-4 text-right align-self-top">

            <button mat-icon-button (click)="showSettings()" class="header-icon">
                <mat-icon>settings</mat-icon>
            </button>

            <button mat-icon-button (click)="showIntroHelp()" *ngIf="!isMobile" class="header-icon">
                <mat-icon>help</mat-icon>
            </button>


        </div>
    </div>



