<!--редактирование/создания задачи-->

<mat-dialog-content>
    <p mat-dialog-title>{{dialogTitle}}</p>


    <!--название задачи    -->
    <mat-form-field>

        <mat-label>Название (обязательно)</mat-label>
        <!-- если задача завершена - контрол не будет доступен -->
        <input [disabled]="task.completed != null && task.completed !== 0"
               #inputTitle
               matInput

               [(ngModel)]="newTitle"

               (keydown.enter)="confirm()"> <!-- по нажатию на enter можем сразу сохранить задачу -->

        <button
                *ngIf="newTitle && newTitle.trim().length > 0"

                mat-button matSuffix mat-icon-button aria-label="Clear"

                (click)="newTitle= ''" class="dialog-toto-title">

            <mat-icon>clear</mat-icon>
        </button>

    </mat-form-field>


    <!--    выпадающий список категорий-->
    <!--
      работаем с id объектов, чтобы корректно работали компоненты выпад. списка
    -->

    <mat-form-field>
        <mat-label>Укажите категорию</mat-label>
        <!-- если задача завершена - контрол не будет доступен -->
        <mat-select [(value)]="newCategoryId" [disabled]="task.completed != null && task.completed !== 0">

            <mat-option [value]="null">Без категории</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat.id">
                {{cat.title}}
            </mat-option>
        </mat-select>

    </mat-form-field>


    <!--    выпадающий список приоритетов-->
    <!--
    работаем с id объектов, чтобы корректно работали компоненты выпад. списка
  -->
    <mat-form-field>
        <mat-label>Укажите приоритет</mat-label>
        <!-- если задача завершена - контрол не будет доступен -->
        <mat-select [(value)]="newPriorityId" [disabled]="task.completed != null && task.completed !== 0">
            <mat-option [value]="null">Без приоритета</mat-option>

            <mat-option *ngFor="let p of priorities" [value]="p.id">
                {{p.title}}
            </mat-option>
        </mat-select>


    </mat-form-field>


    <!--    календарь - срок выполнения-->
    <mat-form-field>
        <!-- если задача завершена - контрол не будет доступен -->
        <input [disabled]="task.completed != null && task.completed !== 0"
               matInput placeholder="Укажите срок выполнения" #inputDate
               readonly="true"

               [matDatepicker]="picker"
               [(ngModel)]="newDate"

               (click)="picker.open()">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <!-- иконка календаря (для открытия календаря) -->

        <mat-datepicker #picker></mat-datepicker> <!-- компонент календаря (открывается по нажатию)-->

        <!--кнопка очистки даты -->
        <button [disabled]="task.completed != null && task.completed !== 0"
                *ngIf="inputDate.value.trim().length > 0"

                mat-button matSuffix mat-icon-button aria-label="Clear"

                (click)="newDate = null" class="calendar-clear-icon">

            <mat-icon>clear</mat-icon>

        </button>

    </mat-form-field>

    <div class="row">
        <div class="col-12">
            <!-- если задача завершена - контролы не будут доступны -->

            <span class="ready-date" [ngClass]="{'disabled': task.completed}"
                  (click)="!task.completed && setToday()">
      Сегодня

    </span>

            <span class="ready-date" [ngClass]="{'disabled': task.completed}"
                  (click)="!task.completed && addDays(1)">
      Завтра

    </span>

            <span class="ready-date" [ngClass]="{'disabled': task.completed}"
                  (click)="!task.completed && addDays(2)">
      Послезавтра

    </span>

            <span class="ready-date" [ngClass]="{'disabled': task.completed}"
                  (click)="!task.completed && addDays(7)">
      Через неделю

    </span>


        </div>


    </div>

    <div class="gap20"></div>
</mat-dialog-content>


<!--  кнопки возможных действий-->
<mat-dialog-actions>


<!--    <div class="col-md-5 col-12" [ngClass]="{'text-center': isMobile, 'text-left': !isMobile}">-->
    <div class="col-md-5 col-12">

        <button
                mat-raised-button color="primary"
                (click)="confirm()"
                [disabled]="inputTitle.value.trim().length==0">  <!-- если пустой текст - кнопка "Сохранить" будет недоступна -->
            Сохранить
        </button>


        <button mat-raised-button (click)="cancel()">Отмена</button>

    </div>


    <!--  возможные операции над задачей-->
<!--    [ngClass]="{'text-center': isMobile, 'text-right': !isMobile}"-->
    <div
            class="col-md-7 col-12 text-right"
            *ngIf="canComplete || canDelete"
    >

        <button
                mat-button class="green"
                *ngIf="canComplete && task && !task.completed"
                (click)="complete()"

        >Завершить задачу
        </button>

        <button
                mat-button class="green"
                (click)="activate()"
                *ngIf="canComplete && task && task.completed">

            Активировать

        </button>

        <button
                mat-button
                *ngIf="canDelete"
                class="red"
                (click)="delete()"
        >
            Удалить задачу

        </button>

    </div>

</mat-dialog-actions>

