<div class="wrapper ">

    <div
            class="sidebar"
            data-color="purple"
            data-step="1"
            data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
            data-position='right'
    >
        <app-categories
                (addCategory)="addCategory($event)"
                (deleteCategory)="deleteCategory($event)"
                (searchCategory)="searchCategory($event)"
                (updateCategory)="updateCategory($event)"
                (selectCategory)="selectCategory($event)"

                [categories]="categories"
                [selectedCategory]="selectedCategory"
                [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
                [categorySearchValues]="categorySearchValues">
        </app-categories>
    </div>

    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <!--    навигация с шапкой и списком категорий-->
                        <app-header
                                (toggleStat)="toggleStat($event)"
                                [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
                                [showStat]="showStat"

                        ></app-header>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div
                        date-step="2"
                        data-position="top"
                        data-intro="Список всех задач со статистикой">
                    <!--                     статистика-->
                    <app-stat
                            [dash]="dash"
                            [showStat]="showStat">
                    </app-stat>
                </div>
                <div class="row">
                    <div class="col-12">

                        <app-tasks
                                [showSearch]="showSearch"
                                [totalTasksFounded]="totalTasksFounded"
                                [tasks]="tasks"
                                [priorities]="priorities"
                                [categories]="categories"
                                [selectedCategory]="selectedCategory"
                                [taskSearchValues]="taskSearchValues"

                                (searchAction)="searchTasks($event)"
                                (toggleSearch)="toggleSearch($event)"
                                (selectCategory)="selectCategory($event)"
                                (paging)="paging($event)"
                                (addTask)="addTask($event)"
                                (deleteTask)="deleteTask($event)"
                                (updateTask)="updateTask($event)">
                        </app-tasks>

                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>

    </div>

</div>
