<div class="wrapper ">

    <app-categories
            (selectCategory)="onSelectCategory($event)"
            (deleteCategory)="onDeleteCategory($event)"
            (updateCategory)="onUpdateCategory($event)"
            (addCategory)="onAddCategory($event)"
            (searchCategory)="onSearchCategory($event)"
            [categoryMap]="categoryMap"
            [uncompletedTotal]="uncompletedTotalTasksCount"


            [selectedCategory]="selectedCategory"
            [categories]="categories"></app-categories>


    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

            <!--    навигация с шапкой и списком категорий-->

            <app-header
                    (toggleStat)="toggleStat($event)"
                    [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
                    [showStat]="showStat"

            ></app-header>

        </nav>

        <div class="content">
            <div class="container-fluid">


                <!-- статистика -->
                <app-stat
                        [completeTasksInCategory]="completedCountInCategory"
                        [showStat]="showStat"
                        [totalTasksInCategory]="totalTasksCountInCategory"
                        [uncompleteTasksInCategory]="uncompletedCountInCategory"
                ></app-stat>

                <div class="row">

                    <div class="col-12">

                        <app-tasks
                                (updateTask)="onUpdateTask($event)"
                                (deleteTask)="onDeleteTask($event)"
                                (selectCategory)="onSelectCategory($event)"
                                (addTask)="onAddTask($event)"


                                [selectedCategory]="selectedCategory"
                                (filterByTitle)="onSearchTasks($event)"
                                (filterByPriority)="onFilterTasksByPriority($event)"
                                (filterByStatus)="onFilterTasksByStatus($event)"

                                [tasks]="tasks"
                                [priorities]="priorities"


                        ></app-tasks>
                    </div>
                </div>
            </div>
        </div>


        <app-footer></app-footer>


    </div>
</div>
