<!--для мобильных утстройств иконка "Скрыть/Показать поиск" будет показываться сверху для удобства-->
<div class="row" *ngIf="isMobile">
    <div class="col-md-2 col-sm-12 text-left align-middle">
        <span class="link " (click)="onToggleSearch()" *ngIf="showSearch">Скрыть поиск</span>
        <span class="link " (click)="onToggleSearch()" *ngIf="!showSearch">Показать поиск </span>
    </div>
</div>


<div class="row" *ngIf="showSearch"> <!--если инструменты поиска должны отображаться-->

    <div class="col-md-2 col-sm-12">

        <!--    поиск задач-->

        <mat-form-field>
            <input


                    matInput

                    placeholder="Название"

                    [(ngModel)]='filterTitle'

                    (ngModelChange)="this.checkFilterChanged()"

                    (keydown.escape)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"


            >

            <button
                    *ngIf="filterTitle && filterTitle.trim().length > 0"

                    class="clear-icon"

                    matSuffix mat-icon-button mat-button
                    aria-label="Clear"

                    (click)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
            >
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="col-md-2 col-sm-12">

        <!--    фильтр по статусу -->

        <mat-form-field>
            <!--использем 1 или 0 как true/false-->
            <mat-select [(ngModel)]="filterCompleted" (selectionChange)="checkFilterChanged()"
                        placeholder="Фильтр по статусу">
                <mat-option [value]="null">Все статусы</mat-option>
                <mat-option [value]="1">Завершенные задачи</mat-option>
                <mat-option [value]="0">Незавершенные задачи</mat-option>
            </mat-select>
            <button
                    *ngIf="filterCompleted != null"
                    class="clear-icon"

                    matSuffix mat-icon-button mat-button
                    aria-label="Clear"

                    (click)="$event.stopPropagation(); filterCompleted = null; checkFilterChanged()"

            >
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>

    </div>


    <div class="col-md-2 col-sm-12">

        <!--    фильтр по приоритету -->

        <mat-form-field>
            <mat-select [(ngModel)]="filterPriorityId" (selectionChange)="checkFilterChanged()"
                        placeholder="Фильтр по приоритетам">
                <mat-option [value]="null">Все приоритеты</mat-option>
                <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>

            </mat-select>

            <button
                    *ngIf="filterPriorityId != null"
                    class="clear-icon"

                    matSuffix mat-icon-button mat-button
                    aria-label="Clear"

                    (click)="$event.stopPropagation(); filterPriorityId = null; checkFilterChanged() "

            >
                <mat-icon>clear</mat-icon>
            </button>

        </mat-form-field>


    </div>


    <div class="col-md-2 col-sm-12">

        <mat-form-field>
            <mat-select [(ngModel)]="filterSortColumn"
                        placeholder="Сортировка"


                        (selectionChange)="checkFilterChanged()"

            >

                <!--        т.к. value без скобок, а значения в одинарных кавычках -
                то будут браться как текст (а не искать переменную в классе) -->

                <mat-option value='title'>Название</mat-option>
                <mat-option value='date'>Срок</mat-option>
                <mat-option value='priority'>Приоритет</mat-option>
                <mat-option value='category'>Категория</mat-option>

            </mat-select>
        </mat-form-field>


    </div>


    <div class="col-md-4 col-sm-12" [ngClass]="{'sort': !isMobile}"
    >


        <span *ngIf="isMobile">Сортировка: </span>

        <button

                matSuffix mat-icon-button mat-button
                aria-label="Sort direction"

                (click)="$event.stopPropagation(); changedSortDirection(); checkFilterChanged()"

        >
            <mat-icon>{{this.sortIconName}}</mat-icon>
        </button>


        <button [ngClass]="{'search-button': true, 'blink-button': changed}" mat-raised-button color="accent"
                (click)="initSearch()">
            <mat-icon>search</mat-icon>
        </button>


        <button


                matSuffix mat-button
                aria-label="Clear"


                (click)="$event.stopPropagation(); clearSearchValues(); checkFilterChanged()"

        >

            Очистить
        </button>


    </div>
</div>
<div class="gap10">&nbsp;</div>

<div class="row ">


    <div class="col-md-2 col-sm-12">

        <button


                [ngClass]="{'full-width': true}"

                mat-raised-button color="primary" (click)="openAddDialog()">Добавить задачу
        </button>
    </div>

    <div class="col-md-2 col-sm-12 text-left align-middle align-self-center" *ngIf="!isMobile">
        <span class="link " (click)="onToggleSearch()" *ngIf="showSearch">Скрыть поиск</span>
        <span class="link " (click)="onToggleSearch()" *ngIf="!showSearch">Показать поиск </span>
    </div>

    <div class="col-md-8  align-self-center" [ngClass]="{'founded-center': isMobile, 'text-right':!isMobile}">

    <span class="founded">

    Найдено задач: {{totalTasksFounded}}</span>

    </div>


</div>


<div class="gap20"></div>

<div class="row">


    <div class="col-md-12 task-list">


        <!--    список задач -->
        <div class="card" *ngIf="!isMobile && tasks && tasks.length > 0">
            <!-- показывать таблицу, если это не моб. устройство -->

            <div class="card-body">

                <div class="table-responsive" *ngIf="tasks && (tasks.length > 0)">

                    <table mat-table [dataSource]="dataSource" matSort data-step="2"
                           data-intro="Список всех задач с возможностью редактирования"
                           data-position='bottom' >


                        <!--            цвет приоритета  -->
                        <ng-container matColumnDef="color">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td class="col-color" mat-cell *matCellDef="let task"
                                [style.background-color]="getPriorityColor(task)"></td>
                        </ng-container>


                        <!--            нумерация-->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td class="col-id" mat-cell *matCellDef="let index = index;">

                                <!-- для сквозной нумерации -->
                                {{index + 1 + taskSearchValues.pageNumber * taskSearchValues.pageSize}}

                            </td>
                        </ng-container>


                        <!--            название задачи-->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Название</th>
                            <td class="col-title title pointer" mat-cell *matCellDef="let task" [class.completed]="task.completed"
                                (click)="openEditDialog(task)">

                                {{task.title}}

                            </td>
                        </ng-container>

                        <!--дата выполнения-->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Срок</th>
                            <td class="col-date" mat-cell *matCellDef="let task"
                                [ngClass]="{'completed': task.completed, 'nodate': task.date == null}">

                                {{task.date | taskDate}}

                            </td>
                        </ng-container>

                        <!--приоритет-->
                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef> Приоритет</th>
                            <td class="col-priority" mat-cell *matCellDef="let task"
                                [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}"
                            >

                                {{task.priority ? task.priority.title : "Без приоритета"}}


                            </td>
                        </ng-container>

                        <!--категория-->
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Категория</th>
                            <td class="col-category"
                                mat-cell *matCellDef="let task"
                                [ngClass]="{'completed': task.completed, 'nocategory': task.category == null}"

                            >

                                {{task.category ? task.category.title : "Без категории"}}

                            </td>
                        </ng-container>

                        <!--доступные действия над задачей-->
                        <ng-container matColumnDef="operations">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td class="col-operations" mat-cell *matCellDef="let task" [class.completed]="task.completed">

                                <button mat-icon-button (click)="openDeleteDialog(task)"
                                        class="delete-icon"
                                >
                                    <mat-icon aria-hidden="false">delete</mat-icon>
                                </button>


                                <button mat-icon-button (click)="openEditDialog(task)"
                                        class="edit-icon"
                                >

                                    <mat-icon aria-hidden="false">edit</mat-icon>
                                </button>

                            </td>
                        </ng-container>


                        <!--            галочка для выполнения задачи-->
                        <ng-container matColumnDef="select">

                            <th mat-header-cell *matHeaderCellDef></th>

                            <td class="col-select text-right" mat-cell *matCellDef="let task">

                                <mat-checkbox

                                        (click)="$event.stopPropagation()"

                                        (change)="$event ? onToggleCompleted(task) : null"

                                        [checked]="task.completed"
                                >

                                </mat-checkbox>


                            </td>
                        </ng-container>


                        <!--            какие поля отображать-->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>


                    <mat-paginator (page)="pageChanged($event)" [pageIndex]="taskSearchValues.pageNumber"
                                   [pageSize]="taskSearchValues.pageSize" [length]="totalTasksFounded"
                                   [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>


                </div>


            </div>
        </div>


        <!--если задачи не найдены - показать пользователю-->
        <div class="card" *ngIf="tasks && tasks.length === 0">
            <p class="not-found">Ничего не найдено</p>
        </div>


        <!--    показ задач для мобильных устройств-->
        <div *ngIf="isMobile && tasks && tasks.length > 0">
            <div *ngFor="let task of tasks; let index = index; "
                 [ngClass]="{'completed': task.completed}">


                <div class="card card-mobile" (click)="$event.stopPropagation(); openEditDialog(task)"
                     [ngClass]="{'background-completed': task.completed}">

                    <div class="mobile-priority-top"
                         [style.background-color]="getPriorityColor(task)"
                         [ngClass]="{'background-completed': task.completed}"></div>

                    <div class="row">

                        <div class="mobile-title-inner  col-9 align-top">


                            <div class="mobile-title" [class.completed]="task.completed"
                            >{{task.title}}
                            </div>


                        </div>

                        <div class="col-2 align-top mobile-check">

                            <button mat-icon-button (click)="$event.stopPropagation(); onToggleCompleted(task)"
                                    *ngIf="!task.completed">
                                <mat-icon class="check-icon-notcompleted" (click)="$event.stopPropagation(); onToggleCompleted(task)"

                                >check_circle_outline
                                </mat-icon>
                            </button>


                            <button mat-icon-button (click)="$event.stopPropagation(); onToggleCompleted(task)"
                                    *ngIf="task.completed">
                                <mat-icon class="check-icon-completed">check_circle</mat-icon>
                            </button>
                        </div>


                    </div>

                    <div class="row">

                        <div class="mobile-info-inner  col-12 align-top">
                            <div class="mobile-category"
                                 [ngClass]="{'completed': task.completed}"
                            >
                                <p
                                        [ngClass]="{'category': !task.completed && task.category}"> {{task.category ? task.category.title :
                                    'Без категории'}} </p>
                            </div>

                            <div *ngIf="task.priority" class="mobile-priority">
                                <p [ngClass]="{'priority': !task.completed, 'completed': task.completed}"
                                   [style.background-color]="getPriorityBgColor(task)"> {{task.priority.title}} </p>
                            </div>


                            <div class="mobile-date" [ngClass]="{'completed': task.completed}">
                                {{task.date | taskDate}}
                            </div>


                        </div>


                    </div>


                </div>
            </div>


        </div>


    </div>

</div>
