.completed{
    text-decoration: line-through;
    color: #797979;
}

.novalue{
    color: #b7b7b7;
}

.col-color{
width: 1%;
}

.col-id{
    width: 4%;
    text-align: center;
}

.col-title{
    width: 40%;
}

.col-date{
    width: 10%;
}

.col-priority{
    width: 10%;
}

.col-category{
    width: 10%;
}

.col-select{
    width: 3%;
}

.col-operations{
    width: 8%;
}
