<!--<div class="sidebar" data-background-color="white" data-color="purple">-->

<div id="categories">
    <div class="logo">
        <span class="nav-title">Категории</span>

        <!--    иконка добавления новой категории -->
        <span class="add-icon-area">
          <button (click)="openAddDialog()" class="add-icon" mat-icon-button>
      <mat-icon>add</mat-icon>
        </button>
    </span>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <!--      поиск категорий -->

            <div class="search-category-area">
                <mat-form-field class="example-full-width">
                    <input
                            matInput
                            maxlength="256"
                            placeholder="Поиск категорий"

                            [(ngModel)]="filterTitle"
                            (ngModelChange)="this.checkFilterChanged()"
                            (keydown.escape)="clearAndSearch()"

                    />

                    <button
                            *ngIf="filterTitle && filterTitle.length > 0"
                            mat-button matSuffix mat-icon-button
                            aria-label="clear"

                            class="search-category-button"

                            (click)="clearAndSearch()">
                        <mat-icon>clear</mat-icon>
                    </button>

                    <button
                            *ngIf="filterTitle && filterTitle.length > 0"
                            mat-button matSuffix mat-icon-button

                            (click)="search()"

                            [ngClass]="{'blink-button':filterChanged}"
                    >
                        <mat-icon>search</mat-icon>
                    </button>

                </mat-form-field>
            </div>

            <!-- виртуальная категория 'Все'-->
            <li [class.active]="selectedCategory === null"
                class="nav-item category"
                (click)="showCategory(null)">
                <a class="nav-link pointer">
                    <!--          название категории-->
                    <span class="all-category-title">Все</span>
                    <!--сколько невыполненных задач-->
                    <span class="uncompleted-count"> {{uncompletedCountForCategoryAll || 0}}</span>
                </a>
            </li>
            <!-- разделитель-->
            <div class="line"></div>
            <div *ngIf="categories && categories.length === 0"><p class="not-found">Ничего не найдено</p></div>
            <li
                    *ngFor="let category of categories; let index = index"
                    (click)="showCategory(category)"
                    (mouseenter)="showEditIcon(index)"
                    (mouseleave)="showEditIcon(null)"
                    [class.active]="category === selectedCategory"
                    class="nav-item pointer"
            >
                <a class="nav-link">

                    <!--          название категории-->

                    <span class="category-title">{{category.title}}</span>

                    <!--         кнопка редактирования категории-->

                    <span class="edit-category-icon-area">
            <mat-icon
                    *ngIf="indexMouseMove === index"
                    (click)="$event.stopPropagation(); openEditDialog(category)"
                    class="edit-category-icon"
            >edit
            </mat-icon>
          </span>
                    <!--сколько невыполненных задач-->
                    <span class="uncompleted-count"> {{category.uncompletedCount || 0}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</div>

<!--</div>-->
